nav.navbar.navbar-static-top.navbar-inverse.bg-primary
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#/home')
        span.glyphicon.glyphicon-th-large
        |  Issue Tracker {{$root.currentUser.type}}
    .collapse.navbar-collapse
      ul.nav.navbar-nav(ng-if='$root.currentUser')
        li
          a(href='#/home')
            span.glyphicon.glyphicon-home
            |  Home
        li(ng-if='$root.currentUser.type === "admin"')
          a(href='#/admin/agents')
            span.glyphicon.glyphicon-wrench
            |  Agents
        li(ng-if='$root.currentUser.type === "admin"')
          a(href='#/admin/customers')
            span.glyphicon.glyphicon-user
            |  Customers
      ul.nav.navbar-nav.navbar-right(ng-if='$root.currentUser')
        li
          a {{$root.currentUser.name}}
        li
          a(ng-href ng-click='vm.handleSignOut()')
            span.glyphicon.glyphicon-log-in
            |  Logout